*{
    background: linear-gradient(120deg, #2369af, #16bb69);
    justify-content: center;
    align-items: center;
    background-color: rgb(51, 49, 49);
    border: solid 1px red;
    background-image: linear-gradient(90deg, #35c2d8, #8e19d7,rgb(255, 4, 184));
 color:#a1fef4;
}